/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
body {
    margin: 0 auto;
    width: 980px;
}
h3 {
	font-size: 24px;
}
#mainHeader {
    padding: 25px;
    background-color: #ffffff;
    position: sticky;
    box-shadow: 0px 2px 5px 0px #9a9595;
    top: 0;
    z-index: 100;
    margin-bottom: 20px;
}
#mainNavigation {
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigationUl {
	text-align: left;
	display: flex;
}
li.navigationListItems {
    padding: 0 20px;
}
li.navigationListItems a {
    text-decoration: none;
    font-size: 18px;
    color: gray;
    transition: all ease-in-out 120ms;
}
li.navigationListItems a:hover {
	color: #000;
}

/* Section One */
#cardOne {
    position: relative;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cardOneContentWrapper {
    width: 49%;
    text-align: center;
    position: relative;
    display: inline-block;
}
.cardOneContentWrapper.welcomeText {
	display: flex;
    flex-direction: column;
}
.cardOneContentWrapper h1 {
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: 0;
}
.cardOneContentWrapper h1 span {
    width: 100%;
    display: block;
}
.cardOneContentWrapper a {
    width: 200px;
    padding: 10px 40px;
    border: 1px solid #000;
    color: gray;
    text-decoration: none;
    margin-top: 10px;
    margin: 10px auto 0 auto;
}

/* Section Two */
section#cardTwo {
    border-top: 1px solid #000;
    padding-top: 30px;
    position: relative;
    height: fit-content;
}
.cardTwoContentWrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
}
.double-column {
    width: 47%;
	padding: 20px 0 40px 0;
}
.double-column p {
    line-height: 18px;
}
.middle-img {
	width: 100%;
}
.tripple-column {
    width: 33%;
    padding: 40px 10px 40px 0;
}
/* Footer */
footer {
	width: 100%;
	padding-top: 40px;
	border-top: 1px solid #000;
}
.address-information .three,
.address-information .four{
	padding-top: 20px;
}
.address-information .four {
	padding-bottom: 50px;
}
.copyright {
	text-align: center;
	font-size: 16px;
	margin-bottom: 100px;
	width: 100%;
	margin-top: 40px;
	font-weight: 500;

}
.cardOneContentWrapper.imageCardOneWrapper {
	text-align: right;
}
/* Services Page */
.fullWidthColumn {
	padding: 25px 0;
	border-bottom: 1px solid #000;
}
.fullWidthColumn p {
	font-size: 18px;
	line-height: 20px;
	font-weight: 400px;
}
#doubleServiceWrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

}
.doubleServiceContentWrapper {
	box-sizing: boder-box;
	border: 1px solid #000;
	background-color: #d6d6d6;
	width: 47%;
	padding: 20px;
	margin: 25px 0;
}
.doubleServiceHeading {
	text-transform: uppercase;
	font-size: 20px;

}
.doubleServiceParagraphContent {
	line-height: 26px;
	padding-bottom: 20px;
}
.doubleServiceContentWrapper a {
	padding: 10px 20px;
	border: 1px solid #000;
	border-radius: 10px;
	text-decoration: none;
	background: #fff;
	color: #000;
	margin-bottom: 20px;
	transition: all ease-in-out 120ms;
}
.doubleServiceContentWrapper a:hover {
	background-color: #000;
	color: #fff;
}
.LeanrMoreContainer {
	display: flex;
	align-content: center;
	justify-content: flex-start;
}
/* Footer */
footer {
	display: flex;
	flex-flow: row wrap;
}
.fullWidthColumn.footerContentContainer {
	width: 50%;
	padding-top: 0;
	border-bottom: none;
}
.fullWidthColumn.footerContentContainer div {
	margin-top: 20px;
    padding-left: 20px;
}
.fullWidthColumn.footerContentContainer ol {
	list-style: square;

}
.fullWidthColumn.footerContentContainer ol li {
	padding: 7px 0;
}

@media( max-width: 800px) {
    body {
        width: 100%;
    }
    /* #mainHeader {
        padding: 25px;
        position: relative;
        background-color: #ffffff;
        box-shadow: 0px 2px 5px 0px #9a9595;
        top: 0;
        z-index: 100;
        margin-bottom: 20px;
        width: 100%;
    } */
    #mainNavigation {
        flex-flow: column-reverse wrap;
    }
    .image-container {
        width: 100%;
        order: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }
    .navigationUl {
        width: 100%;
        justify-content: space-around;
    }
    #cardOne {
        height: 450px;
        align-items: flex-start;
    }
    .cardOneContentWrapper.welcomeText {
        min-width: 100%;
    }
    .cardOneContentWrapper a {
        padding: 10px 60px;
        margin: 20px auto 0 auto;
    }
    .cardOneContentWrapper.imageCardOneWrapper:nth-child(even) {
        display: none;
    }
    .middle-img {
        padding: 0;
    }
    section#cardTwo {
        padding: 30px;

    }
    .copyright {
        margin: 0;
    }
}
@media( max-width: 500px) {
    #mainHeader {
        padding: 0;
    }
    ul.navigationUl {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    li.navigationListItems {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 15px;
        border-top: 1px solid #000;
    }
    li.navigationListItems:last-child {
        border-bottom: 1px solid #000;
    }
    .image-container {
        margin: 0;
        padding: 20px;
    }
    .cardTwoContentWrapper {
        flex-flow: row wrap;
    }
    .double-column {
        width: 100%;
    }
    .tripple-column {
        width: 100%;
    }
}
